@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Shabnam";
    src: url("../public/font/Shabnam-FD.woff2") format("woff2");
  }
  @keyframes opacityIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacityOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes translateIn {
    0% {
      right: -350px;
    }
    100% {
      right: 0;
    }
  }
  @keyframes translateOut {
    0% {
      right: 0;
    }
    100% {
      right: -350px;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #cacacab3;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #32b765;
}
