@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Shabnam";
    src: url("../public/font/Shabnam-FD.woff2") format("woff2");
  }
  @keyframes opacityIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacityOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes translateIn {
    0% {
      right: -350px;
    }
    100% {
      right: 0;
    }
  }
  @keyframes translateOut {
    0% {
      right: 0;
    }
    100% {
      right: -350px;
    }
  }
  @keyframes translateIn2 {
    0% {
      bottom: -372px;
    }
    100% {
      bottom: 0;
    }
  }
  @keyframes translateOut2 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: -372px;
    }
  }
  @keyframes translateIn3 {
    0% {
      bottom: -548px;
    }
    100% {
      bottom: 0;
    }
  }
  @keyframes translateOut3 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: -548px;
    }
  }
  @keyframes translateIn4 {
    0% {
      bottom: -512px;
    }
    100% {
      bottom: 0;
    }
  }
  @keyframes translateOut4 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: -512px;
    }
  }
  @keyframes translateIn5 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 348px;
    }
  }
  @keyframes translateIn6 {
    0% {
      bottom: -403px;
    }
    100% {
      bottom: 0;
    }
  }
  @keyframes translateOut6 {
    0% {
      bottom: 0;
    }
    100% {
      bottom: -403px;
    }
  }
  @keyframes Loading {
    0% {
      transform: scale(0.22);
      opacity: 0;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes loadingProducts {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #e7e5e5b3;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #cfcece;
}
.swiper-pagination-bullet-active {
  background-color: #cfcece;
}
